<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th ng-repeat="column in columns" ng-click="sortBy(column)">
        {{column.friendlyName}}
        <i class="glyphicon" ng-class="{
          'glyphicon-sort-by-attributes-alt': reverse && sortingColumn == column,
          'glyphicon-sort-by-attributes': !reverse && sortingColumn == column
        }"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in items | orderBy:sortingColumn.name:reverse">
      <td>
        <a class="glyphicon glyphicon-new-window" ng-click="onShow({item: item})"></a>
      </td>
      <td ng-repeat="column in columns">
        <dh-field model="model" relation="relation" item="item" name="column.name"></dh-field>
      </td>
    </tr>
  </tbody>
</table>
