$pink: rgb(255, 71, 199);

body {
  padding-top: 70px;
}

a {
  &:active {
    color: $pink;
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.above {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.behind {
}

//http://www.johnpapa.net/preparing-for-animations-in-angular-1-2-0/
.fader-animation {
  .ng-enter,.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  .ng-enter {
    -ms-opacity: 0;
    opacity: 0;

    .ng-enter-active {
      -ms-opacity: 1;
      opacity: 1;
    }
  }

  .ng-leave {
    -ms-opacity: 1;
    opacity: 1;

    .ng-leave-active {
      -ms-opacity: 0;
      opacity: 0;
    }
  }
}

#alerts {
  padding: 0;
  margin-top: -20px;
}

.alert {
  padding: 3px;
  margin-bottom: 0;
  border-radius: 0;
}

#search {
  position: fixed;
  width: 100%;
}

[ng-click] {
  cursor: pointer;
}

.glyphicon.primary {
  color: white;
}

.right {
  float: right;
}

.panel {
  margin-bottom: 40px;

  table {
    th:first-child, td:first-child {
      padding-left: 15px;
    }
  }
}

.list-group-item h4 {
  margin-top: 0;
}

#search {
  width: 260px;
  position: relative;

  .glyphicon {
    position: absolute;
    right: 10px;
    top: 10px;
    &.loading {
      opacity: 0.25;
    }
  }
}

#opened-cards .list-group-item {
  position: relative;
  padding-right: 33px;

  .glyphicon {
    position: absolute;
    right: 10px;
    top: 13px;
  }
}

#sidebar {
  position: fixed;
  width: 100%;
}

h4.table-title {
  padding-left: 15px;
  margin-top: 0;

  .glyphicon {
    transition: 0.4s;
    font-size: 14px;
  }

  .glyphicon.collapsed {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.panel-heading {
  a {
    text-decoration: none;
  }

  .right .glyphicon {
    margin-left: 10px;
  }
}

#cards {
  .ng-enter {
    transition: 0.3s linear all;
    opacity: 0.2;

    * {
      &:before, &:after {
        display: inline; // workaround for a strange issue (rendering bug?)
      }
    }

    &.ng-enter-active {
      opacity: 1;
    }
  }

  a:not(:active) {
    transition: 500ms;
  }
}

.modal-header h3 {
  margin: 0;
}

.card {
  dl.dl-horizontal {
    dt {
      padding: 2px 0;
    }

    dd {
      // workaround for size changes during animation
      // FIXME this should be based on text height
      min-height: 20px;

      margin-left: 170px;
    }
  }
}

.dh-field {
  padding: 2px 0 2px 10px;
  min-height: 20px;

  img {
    max-width: 100%;
    margin: 5px 10px 5px 0;
  }

  &.editable {
    position: relative;

    .edit-icon {
      display: none;
    }

    &:hover {
      background-color: #f5f5f5;
      border-radius: 4px;

      .edit-icon {
        display: block;
        background-color: #f5f5f5;
        border-radius: 4px;
        position: absolute;
        right: 0;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
      }
    }

    &.editing {
      padding: 0;

      .input-group {
        button {
          padding: 1px 5px;
        }
      }

      .edit-icon {
        display: none;
      }
    }

    input[type="text"] {
      font-size: 14px;
      height: 24px;
      padding-left: 9px;
    }

  }
}

td > .dh-field {
  padding: 0;
}

.modal-body.ckeditor {
  padding: 0;
}

.modal-footer.ckeditor {
  margin-top: 0;
}

.modal-body.ckeditor {
  padding: 0;
}

.modal-footer.ckeditor {
  margin-top: 0;
}

fieldset .well {
  position: relative;
  padding-right: 29px;

  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}

legend .glyphicon {
  float: right;
  text-decoration: none;
}