$pink: rgb(255, 71, 199);

body {
  padding-top: 1em;
}

a {
  &:active {
    color: $pink;
  }

  &:not(:active) {
    transition: 500ms;
  }
}

#search {
  position: fixed;
  width: 100%;

  .form-group {
    position: relative;

    .glyphicon {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .glyphicon-search.loading {
    opacity: 0.25;
  }
}

[ng-click], #search-results li {
  cursor: pointer;
}

.glyphicon.primary {
  color: white;
}

.right {
  float: right;
}

.panel {
  margin-bottom: 40px;

  table {
    th:first-child, td:first-child {
      padding-left: 15px;
    }
  }
}

.list-group-item h4 {
  margin-top: 0;
}

h4.table-title {
  padding-left: 15px;
  margin-top: 0;

  .glyphicon {
    transition: 0.4s;
    font-size: 14px;
  }

  .glyphicon.collapsed {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.panel-heading {
  a {
    text-decoration: none;
  }

  .right .glyphicon {
    margin-left: 10px;
  }
}

#cards {
  .ng-enter {
    transition: 0.3s linear all;
    opacity: 0.2;

    * {
      &:before, &:after {
        display: inline; // workaround for a strange issue (rendering bug?)
      }
    }

    &.ng-enter-active {
      opacity: 1;
    }
  }

}

.modal-dialog {
  width: 80%;
}

.modal-header h3 {
  margin: 0;
}

dl.dl-horizontal {
  dd {
    // workaround for size changes during animation
    // FIXME this should be based on text height
    min-height: 20px;

    padding-left: 4px;

    &.editable {
      position: relative;
      .edit-icon {
        display: none;
      }

      &:hover {
        background-color: #f5f5f5;
        border-radius: 4px;

        .edit-icon {
          display: block;
          position: absolute;
          right: 4px;
          top: 3px;
        }
      }
    }

    img {
      max-width: 100%;
      margin: 5px 10px 5px 0;
    }

  }
}