body {
  padding-top: 1em;
}

#search {
  position: relative;

  .glyphicon-search {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

a[ng-click], #search-results li {
  cursor: pointer;
}

.glyphicon.primary {
  color: white;
}

.good {
  color: #5cb85c;
}

.bad {
  color: #d2322d;
}

.right {
  float: right;
}
