.modal-header
  %h3 {{title}}

.modal-body
  .alert.alert-danger(ng-show="error")
    %span(ng-bind-html="error")
  %span(ng-show="prompt") {{prompt}}

  %form.form-horizontal
    - @inputs.each do |name, options|
      - if options[:multiple]
        = render 'deckhand/templates/modal_form/multiple', name: name, multiple: options
      - elsif options[:group]
        = render 'deckhand/templates/modal_form/group', name: name, group: options
      - else
        = render 'deckhand/templates/modal_form/input', name: name, options: options, prefix: 'form'

.modal-footer
  %button.btn.btn-default(ng-click="cancel()") cancel
  %button.btn.btn-primary(ng-click="submit()") continue
